
{{> headers}}
{{> navbar}}

<div class="container text-center pt-5">
    <form action="#">
        <div>
            <input type="email" placeholder="email">
        </div>
        <div>
            <input type="password" placeholder="password">
        </div>
        <div>
            <input type="input" placeholder="name">
        </div>
        <button type="submit" class="mt-4">Register</button>
    </form>
</div>

{{>footer}}