@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-size: 60px !important;
  font-weight: 500 !important;
  color: darkcyan;
}

.nav.item .btn.login {
  text-decoration: none;
  color: #393939;
  border: 2px solid #393939;
  padding: 5px 30px;
}

.nav.item .btn.register {
  text-decoration: none;
  color: #ffff;
  border: 2px solid #393939;
  background-color: #393939;
  padding: 5px 30px;
  margin-left: 10px;
}

.img-content {
  background-color: #c4c4c4;
  min-width: 100%;
  min-height: 288px;
}

.text-title-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.text-desc-content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  color: #959595;
}

.content-list .img {
  min-width: 100%;
  min-height: 213px;
  background-color: #c4c4c4;
}

.content-list .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  border: none;
  box-shadow: 0 0 5px rgba(151, 151, 151, 0.4);
}

.dropdown-menu::after {
  background-color: #ffff;
  content: \00a0;
  position: absolute;
  display: block;
  z-index: -1;
  top: -10px;
  right: 16px;
  width: 22px;
  height: 22px;
  box-shadow: -1px 1px 2px 0 rgba(178, 178, 178, 0.4);
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.dropdown-item img {
  width: 20px;
}

.content-list a {
  color: #393939;
  text-decoration: none;
}

.article .img-main {
  min-width: 100%;
  min-height: 560px;
  background: #959595;
}

.article h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.article p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: justify;

  color: #2f2f2f;
}

.article a {
  border: none;
  background-color: #000;
}

.article a img {
  width: 35px;
}

form input {
  width: 950px;
  height: 40px;
  padding: 0 10px;
  background: rgb(210, 210, 210);
  border: 2px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
}

form button {
  width: 272px;
  height: 40px;
  left: 548px;
  top: 430px;

  background: #393939;
  border-radius: 1px;
  border: none;
  color: #ffff;
}

.file-input-group label {
  background: rgba(178, 178, 178, 0.4);
  margin-bottom: 20px;
  border: 2px solid #393939;
  border-radius: 5px;
  margin-left: 170px;
  cursor: pointer;
}

.file-input-group img {
  width: 15px;
}

.btn-submit-article {
  margin-right: 170px;
  margin-top: 20px;
}

textarea {
  width: 950px;
  min-height: 200px;
  padding: 0 10px;
  background: rgb(210, 210, 210);
  border: 2px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
}
